@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FREDY ALEXY RODRIGUEZ CASTRO<br />
    <abbr title="CELULAR">CEL:</abbr>
    3102979956
</address>

<address>
    <strong>EMAIL:</strong>   <a href="mailto:fredy1416@gmail.com">fredy1416@gmail.com</a><br />
</address>